*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
.card{
    background-color: rgb(224, 209, 190);
    width: 350px;
    height: 400px;
    margin-top:100px;
    margin-left:400px;
    
}
.card-header{
    background-color: rgb(198, 169, 132);
    height: 100px;
}
.card-img img{ 
    height: 130px;
    margin-top: -50px;
    margin-left: 110px;
    
    border-radius: 100px;    
    }


.card-title{
    margin-top:20px;
    text-align: center;
}
.card-dsc{
    margin-top: 15px;
    text-align: center;
    margin-right:10px;
}
.btn{
    margin-top: 20px;
    text-align: center;
}
.btn button{
    padding:5px;
    border-radius: 20px;
    border:none;
}
